In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [ ]:
dataset

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
#dataset

In [ ]:
dataset.columns

In [4]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
#independent

In [5]:
dependent=dataset[['charges']]
#dependent

In [6]:
#training & test set split
from sklearn.model_selection import train_test_split #import train_test_split from library
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0) #assign values to 4 variable( train and test set)

In [7]:
X_test

      age     bmi  children  sex_male  smoker_yes
578    52  30.200         1         1           0
610    47  29.370         1         0           0
569    48  40.565         2         1           1
1034   61  38.380         0         1           0
198    51  18.050         0         0           0
...   ...     ...       ...       ...         ...
1261   28  37.100         1         1           0
494    21  25.700         4         1           1
97     55  38.280         0         1           0
418    64  39.160         1         1           0
920    62  25.000         0         0           0

[402 rows x 5 columns]

In [29]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.datasets import make_regression
regressor=AdaBoostRegressor(random_state=0, n_estimators=100,loss='linear')
regressor.fit(X_train,Y_train)

C:\Users\mathi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

AdaBoostRegressor(base_estimator=None, learning_rate=1.0, loss='linear',
                  n_estimators=100, random_state=0)

In [30]:
y_pred=regressor.predict(X_test)
#y_pred

In [31]:
from sklearn.metrics import r2_score
r_score=r2_score(Y_test,y_pred)
r_score

0.8447476929154872