In [2]:
import pandas as pd

In [3]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)
#dataset

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [7]:
#training & test set split
from sklearn.model_selection import train_test_split #import train_test_split from library
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0) #assign values to 4 variable( train and test set)

In [8]:
X_test

      age     bmi  children  sex_male  smoker_yes
578    52  30.200         1         1           0
610    47  29.370         1         0           0
569    48  40.565         2         1           1
1034   61  38.380         0         1           0
198    51  18.050         0         0           0
...   ...     ...       ...       ...         ...
1261   28  37.100         1         1           0
494    21  25.700         4         1           1
97     55  38.280         0         1           0
418    64  39.160         1         1           0
920    62  25.000         0         0           0

[402 rows x 5 columns]

In [29]:
from sklearn.svm import SVR 
regressor=SVR(kernel="rbf",C=1000) #procedure 
regressor.fit(X_train,Y_train)#Model Creation

C:\Users\mathi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\mathi\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVR(C=1000, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [30]:
regressor.intercept_

array([8651.45700612])

In [31]:
regressor.n_support_

array([1762700733, 1081430252])

In [28]:
regressor.support_

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519,
       520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532,
       533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
       546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558,
       559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571,
       572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584,
       585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597,
       598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610,
       611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623,
       624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636,
       637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649,
       650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662,
       663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675,
       676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688,
       689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701,
       702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714,
       715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727,
       728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740,
       741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753,
       754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766,
       767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779,
       780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792,
       793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805,
       806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818,
       819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831,
       832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844,
       845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857,
       858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870,
       871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883,
       884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896,
       897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909,
       910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922,
       923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935])

In [32]:
y_pred=regressor.predict(X_test)
y_pred

array([10159.3421421 ,  8870.18106306,  9324.33378285, 12542.78601547,
        8749.97289596,  8336.8664755 ,  4783.1011564 , 11039.9697237 ,
        7266.07533508,  5826.46350917,  8700.38912178, 11369.63997299,
        7665.14535214,  7376.83586855,  6294.14914367, 10451.79060476,
       12315.85916517,  5404.1891804 ,  6247.72729269,  5360.17212059,
       12457.72045688, 12235.78552369,  9584.71820029,  8886.89621271,
        3416.79911712,  7677.74349278,  8468.81388497,  7942.12355245,
        4619.23476154,  9086.63052799,  8245.36752042, 10380.20952132,
       13805.40675698, 10376.35791047,  6457.46238921,  3765.54778074,
        8524.7761461 ,  8870.18721389,  8100.23799161,  2019.52597823,
        8066.18486483,  4690.52433048,  7618.06158877, 11215.54972087,
        4679.69973402,  5091.99495137, 10628.6465246 ,  7648.14633955,
        7062.82880724, 11818.67962539,  3330.08140549,  7637.50315953,
        9708.62739902, 10998.66032872, 10560.43185191,  8635.79687037,
        6510.11196114,  8785.5935161 ,  8913.50987752, 12064.92715073,
        4302.09193885, 11902.60075747, 12977.48190573, 10675.61204321,
        9373.27750135, 10057.80085517,  6089.42783284,  8499.44198748,
        4818.99804222,  8396.28862993, 12948.24184166, 11749.32557497,
        6295.78595234, 14052.48938221, 12543.77264388, 12521.13851371,
        8410.01613989,  8679.85695226,  7266.64550017, 13555.28373595,
       11509.04335225,  8776.88151606,  4937.29456403,  9233.74295699,
        7700.62242132,  7887.89566497,  8288.81772677,  3938.7711513 ,
       12506.39986671, 10857.18261711,  6935.3052186 , 10719.17988367,
        7704.62844885,  8376.35280881,  8635.40351485,  4888.69110768,
       10916.9396718 ,  9588.71520143,  5446.53178433, 10816.66153804,
        5097.76313036,  6292.86876494,  6077.35486602,  8230.99674576,
        8936.29727859,  6588.90141628, 11036.99719078,  7529.54083427,
       11471.52334491, 12252.89357854, 10704.71181393,  7512.89637165,
        9166.37914109,  6136.32545607, 10404.44618733,  8018.28617279,
        2451.29995823,  8827.33835746, 12321.25652981,  9364.31643918,
        8373.31853904,  8837.53896997, 12840.16865932,  7387.79358883,
        7946.44288947,  7996.48767557, 10005.64828811,  9177.06605552,
       11069.14851026,  4085.44956641,  8577.35628197,  3816.41518534,
        5826.14995167,  9587.73136633,  7609.94979824,  6918.77441896,
        8220.2611584 , 10940.13167923, 11229.08613906,  3674.17462391,
        2445.21568721, 10830.3029533 ,  9254.00290658, 10323.36728069,
        6404.33822619, 12585.41147949, 12870.40360383,  5719.5542069 ,
        1644.4603893 , 10949.70971646,  6755.31240587,  8317.86078412,
       10144.61032075,  5162.97076966,  3795.30972684,  6377.61883976,
        5566.55435617,  5728.95120451, 10471.33756737,  9457.49085592,
        7738.77736955, 12499.26181399, 12599.13411106,  9733.44410407,
        7475.5361059 ,  8343.02212523,  4312.40935449,  6155.12148615,
        3867.30438731,  3218.2110417 ,  6824.08938254,  5734.64030007,
        8151.27310186,  5433.31201428,  7970.73475002,  8548.17426335,
        6203.80813676,  7853.02794129, 11602.96930613,  4515.62720236,
       11247.74185618,  6982.09567267, 11266.75170736,  6029.70184167,
        7558.40737124, 13758.02478535,  5026.23110174,  3620.95254531,
       12333.22353811, 10188.80439906,  9581.47771203,  5337.15807583,
        5617.2680261 ,  9588.63801182,  5871.6108    ,  3395.8240001 ,
        5942.19310317,  6821.88385561,  7479.52795704,  4382.00237522,
       11239.76431541, 12049.05496882, 12251.74265352,  7271.66107727,
        5784.75321853,  9821.79454662,  4616.03237483,  9374.15323763,
        6183.14264635,  8234.37846956,  8980.10492589, 13743.7744457 ,
        6108.33791157,  3899.7809835 ,  6820.81244806,  4178.29594451,
        6894.19348761,  7656.77159878, 12088.31909621,  8025.27651413,
        7880.48208368,  7967.2803606 ,  8701.23477279,  4191.66529886,
       12311.40401559, 13111.42699681, 11924.80019992, 12166.67880198,
        7417.96340835,  4162.56697774,  4708.76989098,  7921.23524055,
       12280.1184266 ,  7261.76801257,  6703.59388484,  7347.77372046,
        9417.04329239,  6624.6823042 ,  6326.21412267, 12065.51594161,
        6891.18668509,  7774.90472185,  7384.87417575,  7242.23971368,
        8713.48445712, 10736.75479931,  5340.59712022,  7396.29479146,
        3682.29181154,  7058.33901612,  6010.73293671, 13433.52942809,
        6300.74551771,  8239.17816424,  5257.16199413,  1978.47612323,
        7713.1204786 ,  3164.12422966,  6489.26656163,  4857.98548754,
        9344.88435327, 10243.04370369, 12937.52678356, 13172.97823842,
        7038.20477388, 10981.1370782 ,  7308.20847752,  9360.32323447,
        8383.36401813,  2896.49978697,  7244.96988128,  8091.71866184,
       13026.26340286,  4970.27695768,  8091.10292666,  6851.14169383,
        9916.23692504,  9239.75524029,  3026.71724884, 12807.6063018 ,
       11863.86988245,  8856.38303502, 12397.70072689,  4317.81295428,
        8409.79473489,  8294.85088976,  8258.02411441,  9068.39183356,
        8471.32096263,  3555.5074584 ,  4231.80447577, 13743.59168891,
       10175.14801818,  5326.64011204, 12016.8116252 , 11575.74681179,
        6941.95750904,  7224.31983032,  5601.18182846,  8227.72747187,
        3179.48289793,  4984.9255973 ,  8797.16020083,  5629.89611242,
       13267.0066469 ,  4224.9725251 ,  5085.84277789,  8647.25692292,
        9555.3380427 ,  4703.5314504 ,  7218.36013406,  7506.77082826,
        4872.38835112,  2760.00753385,  6886.45745931,  8514.4706993 ,
        9307.58094344,  4649.12840188,  7598.98674803,  8197.52158582,
        4531.65914304,  5092.80863203,  2580.15605521,  9349.72894226,
        8924.40159312, 11809.97850304, 12162.89497206,  7504.87744096,
        9628.40308527,  7953.58090291, 12174.85699539,  5828.45633957,
        9840.82888169,  7710.70725924, 12574.7193698 ,  4394.14857992,
       12579.65021323,  2166.22699762,  4351.77824666,  4885.44247034,
       11650.54937142,  6903.60825884,  4018.70612876,  8492.0767076 ,
        6602.01167113,  5532.02096843, 11286.43568119,  3239.1264702 ,
        8489.34058289,  6707.57260157,  9406.37771149,  6932.64515537,
        7345.74565716,  6439.46308705,  9935.81008695,  8909.00736116,
        6908.17292565,  7006.47414361,  6275.94114141,  8944.724325  ,
        4704.34277743,  4817.00224339,  4724.72456312,  8666.59100152,
       11145.55953549, 11471.80486315,  2504.72146427, 12157.71467087,
        2723.15448622,  8485.83992696,  5715.15320463,  7881.59123362,
        3409.26668552,  4710.66898535,  8401.3511524 ,  3360.53453926,
        9319.78209404, 11397.52414   , 10381.2230653 , 11646.91838029,
        8473.9268522 ,  6513.15836907,  2777.2581536 , 10725.5529938 ,
        5936.97212497,  3372.22419302, 10361.39512504,  7624.9745015 ,
        8016.4900189 ,  5186.67803974,  3565.50600191,  7826.15325154,
        3790.54834941,  8976.08345796,  3545.47572523,  8579.41213378,
       10724.33842695,  7389.65756455,  8295.07607226, 10274.4300426 ,
       13179.18501157, 13761.94323869])

In [33]:
from sklearn.metrics import r2_score
r_score=r2_score(Y_test,y_pred)
r_score

-0.040769383771633194