In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [4]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [5]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [6]:
#training & test set split
from sklearn.model_selection import train_test_split #import train_test_split from library
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0) #assign values to 4 variable( train and test set)

In [12]:
X_test

      age     bmi  children  sex_male  smoker_yes
578    52  30.200         1         1           0
610    47  29.370         1         0           0
569    48  40.565         2         1           1
1034   61  38.380         0         1           0
198    51  18.050         0         0           0
...   ...     ...       ...       ...         ...
1261   28  37.100         1         1           0
494    21  25.700         4         1           1
97     55  38.280         0         1           0
418    64  39.160         1         1           0
920    62  25.000         0         0           0

[402 rows x 5 columns]

In [27]:
from sklearn.svm import SVR 
regressor=SVR(kernel="linear",C=3000) #procedure 
regressor.fit(X_train,Y_train)#Model Creation

C:\Users\mathi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=3000, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='linear', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [28]:
regressor.intercept_

array([-4329.08252087])

In [29]:
regressor.n_support_

array([ 504073858, 1094212342])

In [21]:
regressor.support_

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519,
       520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532,
       533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
       546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558,
       559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571,
       572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584,
       585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597,
       598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610,
       611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623,
       624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636,
       637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649,
       650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662,
       663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675,
       676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688,
       689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701,
       702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714,
       715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727,
       728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740,
       741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753,
       754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766,
       767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779,
       780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792,
       793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805,
       806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818,
       819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831,
       832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844,
       845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857,
       858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870,
       871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883,
       884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896,
       897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909,
       910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922,
       923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935])

In [30]:
y_pred=regressor.predict(X_test)
y_pred

array([10222.3106971 ,  9223.83644276, 33813.70393866, 12396.55344677,
        9609.7237639 ,  4839.97100431,  1064.97345765, 11259.02491195,
        7668.54995356,  5488.93730443,  6342.30365206, 10347.93897897,
        8176.88458463,  4990.6266008 , 27155.24369495, 10798.46213397,
       11797.17609681,  3389.64618484,  6895.85676198, 25352.99385153,
       34233.20626246, 12118.08370409, 10179.72048057, 32782.82928233,
        1956.16623585,  5094.24949678,  3499.17020562,  8264.7042918 ,
        4494.86600612,  8779.46835975,  8162.16944925, 36336.80411536,
       12638.1293977 , 10781.51943476, 26516.45131147,  4282.07593913,
        9226.94664514, 28012.44530823, 31854.98096392,  1760.92678996,
        5679.3126234 ,  3671.70157791, 30284.204276  , 36376.72346431,
       25315.60096709,  2819.80829767, 10790.61143832,  7480.98522131,
        4544.06344999, 11744.50979221,  2592.82853239,  2581.39616654,
       33110.41217542, 35274.84525308, 12031.58380979,  3585.11739018,
        3054.98026487,  9197.99579135,  9344.4446434 , 12201.54667766,
        1040.88059022, 37696.01147745, 13219.40182201, 10146.85997443,
       10504.92256638, 10524.3895586 , 25077.75506956, 29568.03901003,
        2563.11434175,  8272.79902769, 12500.09350608, 11492.996016  ,
       25272.46474666, 13235.65716619, 12136.11807395, 12219.73987698,
        8040.65839507,  8519.21726928, 30484.17626595, 36751.44085551,
       11189.55995952, 32160.29078624,  1916.67485802,  8368.0797328 ,
       31951.53979378, 29742.08786373,  3971.12707596,  2951.37487299,
       12012.30869744, 28111.6860175 ,  6244.19268442, 10605.47353349,
        3276.29212167,  9061.79016858,  5156.37782685,  5302.10864736,
       34624.14867308, 32507.56017593,  5470.96972408, 11117.77953248,
        2192.27048974,  6070.18824474,  4681.65205782, 29680.32955556,
       32337.18740661,  3333.72221209, 10684.80177531,  3915.01917241,
       11518.26123049, 35998.91518358, 11698.86767434,  5132.63386031,
        9477.06948699, 24848.07411203, 35830.57592669,  7880.83570479,
        1550.74839829,  9202.51588873, 12240.69256932,  9335.72664194,
       32784.30884212,  9881.39404789, 13568.34876592,  5375.4704317 ,
        8384.67875443,  4642.86301593, 33146.63793603, 32598.66446127,
       36167.82408882,  1764.7871569 ,  8844.00420454,  1300.97626574,
        6871.22798524,  9367.9638824 , 31164.28074131, 29064.19162858,
       31036.76641275, 10284.18181459, 34658.78025585,  2472.93314011,
        1728.09660834, 10551.82711367, 10005.91566722, 10408.97960735,
        5337.00358334, 13479.61211568, 12572.61650046,  3123.58370008,
         875.65913291, 10639.32643592,  6789.74728095, 27479.50121305,
       10007.37953128,  1212.00171562,  2050.64099883,  7380.07307258,
        2302.96504905,  1196.30032439, 10797.5105345 , 10140.70309382,
        4465.53753316, 12698.31806395, 12179.05899975, 10183.4254326 ,
        4635.57241359,  4100.09823678, 25220.07280698,  5821.09913544,
        4580.75399846,  1386.25722748,  4074.7272446 ,  4192.71421478,
        8599.93030511,  2535.66758358,  4411.17741362,  4365.70207411,
        4086.49192435,  6580.09251765, 36876.48052801,   714.73123684,
       11008.80208081,  7073.75803352, 11233.03065418,  3278.00002611,
        5673.57270227, 36383.45759064,  1907.63466303,  2266.03660066,
       13408.12320587, 10252.55249615, 33326.81856901,  4078.59862335,
        6227.49367372, 32620.87344236,  2794.96707436,  2296.34031772,
        6644.52691649,  6488.74238355,  4702.87911493,  4621.43487561,
       11147.77206791, 37084.16892013, 11828.33303026, 29366.06202336,
        4570.60678913, 33396.55174586,  3350.58277815,  9910.72106417,
        6603.92238396,  1116.42516156,  9212.70911804, 12848.96229664,
        4926.98657792,  2557.97620189,  7275.21320044,  2239.24434974,
        6729.76619013,  5343.25396068, 13174.62267816,  6691.92260724,
        6794.31339853,  7768.4565338 ,  9073.17470587,  2851.40295994,
       11821.99402741, 13179.92361653, 12205.86875491, 11634.05313282,
        7106.57685152,  2559.80305621,   810.24803321,  8852.43249746,
       12136.84313715,  2802.23836403,  5114.4056527 ,  7760.46973597,
        9440.9087074 , 26421.59459747,  6462.10554752, 11083.84812517,
        6393.34634564, 26683.62812827,  8222.76279392,  7657.84626799,
        8645.01847009, 10510.039222  ,  2309.10261697,  8288.22172211,
        2049.95240052,  7159.59386527, 28697.152014  , 37933.77488998,
        4180.41976628,  3699.81364176,  1132.77491957,   640.14962864,
        8451.3446861 ,  1315.60096709,  4200.00481717,  3779.4873698 ,
        8942.48952599, 33976.39857963, 36510.02031958, 13628.322825  ,
        7265.8161557 , 11382.19387046, 29759.7323335 ,  9313.12615457,
       31554.85132136,   912.30707599, 27444.5106201 ,  5447.82845612,
       12209.5926677 ,  3739.2458274 , 30103.01842626,  5872.56980013,
       10110.18873862,  9845.43903501,  1798.04530961, 12651.46894252,
       11680.91940662,  5183.49841156, 11923.73882565,  1155.37540694,
        6676.81017709,  3408.71283058,  8839.95809823, 32066.73694654,
        3723.65759745,   698.91089571,  1657.27970987, 37099.1851277 ,
        9323.91594192,  5064.33909438, 11846.41342015, 11414.92225438,
       26510.39622857,  7322.73920471,  5726.31535122,  9430.89976061,
        1085.84366497,  2172.32155734, 27775.87104315, 27411.75336834,
       12805.90242088,  2571.22224994,  3464.29277394,  9112.5879306 ,
        9890.4995755 , 24954.23106979, 30088.1365124 ,  6550.83424876,
       25502.09173509,  1429.30573965,  6912.6054098 ,  5145.31548311,
        8699.32642931,  1420.10490657,  7334.72463193, 32252.70352077,
        3129.8994102 ,  3997.99839725,  1239.46164607,  9178.56434669,
        4197.98969997, 11576.24346527, 37832.3584255 , 28627.57244352,
        9454.99876849, 32429.65933331, 12394.2740855 ,  4579.64698413,
        9953.37626151,  3513.38877187, 36520.79079455,  5255.71817339,
       12353.54718813,  1347.71222585, 25549.67170842,  3086.91246415,
       35439.50320245,  6996.05429392,  2245.31079636, 27184.78315803,
        5565.84394225,  5830.26008879, 37754.1240258 ,  1081.32356756,
        8579.47705702,  1815.48312109, 11431.28770807,  3433.47337752,
        6142.47333913,  5236.06110997, 34175.73015186,  8928.05578726,
       29800.24824078, 26452.12826538,  6467.93409432,  8912.67911269,
        1020.30225178,  3396.28987702,  2240.30695012,  9316.67135981,
       35251.85940001, 10987.75589173,  1291.44276695, 11541.3261539 ,
        2083.38869548,  8378.42223657,  4100.69479502,  2414.70686496,
        3310.18762942, 25237.26693007,  6599.79037797,   933.53378132,
       30412.39583915, 11075.74237752, 34192.06094912, 11243.13003483,
        5010.62769366,  1862.89812447,  1658.03509765, 10475.92910714,
        5645.42939659,  1198.3163328 , 10581.83101264,  7615.974083  ,
        7090.53178268,  4065.15728094,  2432.36507236, 28979.90214591,
        1631.44428163,  9524.44802544,  1347.00374945,  8183.79504444,
       11101.1265418 ,  4029.09829885, 27116.77322935, 10804.83362163,
       13614.15063057, 12688.85568652])

In [31]:
from sklearn.metrics import r2_score
r_score=r2_score(Y_test,y_pred)
r_score

0.7590890367741108